{% extends 'pages/base.html' %}

{% block title %}Contacto - Online Store{% endblock %}
{% block header_title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <p class="lead">We're here to help! Find our contact information below.</p>
</div>
{% endblock %}

{% block contact %}
<div class="container my-5">
    <h2 class="text-center mb-4">Contact info</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="lead"><i class="fas fa-map-marker-alt fa-2x text-primary"></i> Down Street 14-1</p>
            <p class="lead"><i class="fas fa-envelope fa-2x text-primary"></i> info@online.com</p>
            <p class="lead"><i class="fas fa-phone-alt fa-2x text-primary"></i> +1-123-456-7890</p>
        </div>
    </div>
</div>
{% endblock %}